:root {
    --color-background: #84A178;
    --color-font-dark: #131313;
    --color-font-bright: #FCFCFC;
    --color-inactive-slider: #D9D9D9;
}

body {
    overflow-x: hidden;
}

.gallery {
    background-image: url('../images/backgroud-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 100%;    
}

.gallery-photo {
        margin-top: -32px;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 280px;
        height: 130px;
        border-radius: 8px;
        padding-bottom: 80px;
        animation-name: slideshow;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        background-repeat: no-repeat;
        object-fit: cover;
}

@keyframes slideshow {
    0% {
            background-image: url(../images/slider-1.jpg);
        }
    
        33% {
            background-image: url(../images/slider-2.jpg);
        }
    
        66% {
            background-image: url(../images/slider-3.jpg);
        }
    
        100% {
            background-image: url(../images/slider-1.jpg);
        }
    }

.customer-reviews {
    position: relative;
        margin: auto;
}

.customer-reviews-customer {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.customer-reviews-ractangle {
    width: 280px;
    height: auto;
    border-radius: 10px;
    background: var(--color-background);
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

.customer-reviews-text {
    padding: 35px 39px;
    color: var(--color-font-bright);
    text-align: center;
    font-family: "Montserrat";
    font-size: 12px;
    line-height: 255%;
    font-weight: normal;
    min-width: 202px;
}

.customer-reviews-name {
    color: var(--color-font-dark);
        text-align: center;
        font-family: 'Montserrat';
        font-size: 20px;
        font-weight: 500;
        line-height: 186%;
        padding-top: 32px;
        margin: 0;
        position: relative;
}

.swiper-pagination-bullet {
    position: relative;
    bottom: -132px;
    display: inline-block;
    width: 12px;
        height: 12px;
        background-color: var(--color-inactive-slider);
        margin: 0 12px;
}

@media (min-width: 480px) and (max-width: 767px) {


    .gallery-photo {
        width: 440px;
        height: 204px;
    }

        @keyframes slideshow {
            0% {
                background-image: url(../images/slider-1-mobile.jpg);
            }
    
            33% {
                background-image: url(../images/slider-2-mobile.jpg);
            }
    
            66% {
                background-image: url(../images/slider-3-mobile.jpg);
            }
    
            100% {
                background-image: url(../images/slider-1-mobile.jpg);
            }
        }

    .swiper-pagination-bullet {
            bottom: -214px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {

    .gallery {
        background-image: url('../images/background-tablet.jpg');
    }

    .gallery-photo {
            margin-top: -144px;
            width: 704px;
                height: 327px;
                border-radius: 18px;
                padding-bottom: 100px;
        }

                @keyframes slideshow {
                    0% {
                        background-image: url(../images/slider-1-tablet.jpg);
                    }
        
                    33% {
                        background-image: url(../images/slider-2-tablet.jpg);
                    }
        
                    66% {
                        background-image: url(../images/slider-3-tablet.jpg);
                    }
        
                    100% {
                        background-image: url(../images/slider-1-tablet.jpg);
                    }
                }
    
    .customer-reviews {
        padding-top: 100px;
    }

        .customer-reviews-ractangle {
        width: 705px;
        border-radius: 24px;
        }

    .customer-reviews-text {
     padding: 28px 80px;
                    color: var(--color-font-bright);
                    text-align: center;
                    font-family: 'Montserrat';
                    font-size: 12px;
                    line-height: 255%;
                    font-weight: normal;
                    min-width: 545px;
                }

    .customer-reviews-name {
        font-size: 16px;
    }

    .slideshow-pagination {
        margin-top: 32px;
    }
}

@media (min-width: 1200px) {

    .gallery {
        background-image: url('../images/background-desktop.jpg');
    }

    .gallery-photo {
        margin-top: -98px;
            width: 1013px;
                height: 422px;
            border-radius: 24px;
            padding-bottom: 140px;
    }

        @keyframes slideshow {
            0% {
                background-image: url(../images/slider-1-desktop.jpg);
            }
    
            33% {
                background-image: url(../images/slider-2-desktop.jpg);
            }
    
            66% {
                background-image: url(../images/slider-3-desktop.jpg);
            }
    
            100% {
                background-image: url(../images/slider-1-desktop.jpg);
            }
        }

    .customer-reviews-ractangle {
        width: 968px;
            border-radius: 24px;
    }

    .customer-reviews-text {
            padding: 43px 109px;
            font-size: 16px;
                font-weight: 500;
                line-height: 186%;
                letter-spacing: 0.64px;
                min-width: 750px;
        }

        .customer-reviews-name {
            font-size: 16px;
        }

        .slideshow-pagination {
            margin-top: 32px;
        }

        .swiper-pagination-bullet {
            bottom: -190px;
                }

}